.header a:link, a:visited {
    text-decoration: none;
    background: none;
}

.header a:hover {
  background-color: #797978; 
  transition: .5s;
}

#background-video {
  z-index: -1;
  object-fit: cover;
}